@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@400;600;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
    background-image:url("/images/main-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
  }


  
  .navbar{
    display: flex; 
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 3rem;
    padding-right: 3rem; 
    justify-content: space-between; 
    width: 100%; 
    /* background-color: #f1ebeb50;  */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);  
  }

  .logo{
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 800; 
    cursor: pointer;
    color: white; 

  }
  .logo:hover{
    cursor: pointer;
  }

  .close{
    display: none;
  }

  .page-links{
    /* border: 5px solid red; */
    display: none; 
    margin-left: 1.25rem; 
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700; 
  }

  .page-links > a{
    color: rgb(229, 224, 224);
    text-decoration: none;
    padding-left: 1rem;
  }

  .page-links > a:hover{
    color: rgba(194, 190, 190, 0.733);
  }

  .menu{
    display: none; 
    position: fixed; 
    right: 0; 
    top: 3.5rem; 
    z-index: 20; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    margin-top: 0.75rem; 
    margin-top: 0.875rem; 
    flex-direction: column; 
    max-height: fit-content; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    text-align: center; 
    color: #000000; 
    background-color: #ffffff;  
    width: 100%;

  }

  .menu > a{
    color: #000000; 
    padding-left: 0.625rem;
  }

  @media (min-width: 820px) { 
    .hamburger{
      display: none;
    } 
    .close{
      display: none;
    } 
    .page-links{
      display: block; 
    }
    .page-links > a:hover{
        cursor: pointer;
    }
    .menu{
      display: none; 
    }
    
   }
  
  

.resources-card{
    background: rgba(89, 206, 143, 0.23);
    height: 16rem;
    width: 18rem;
    border-radius: 1.65rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.image img{
  width: 16rem;
  max-height: 10rem;
  border-radius: 1.65rem;
}

.resources{
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.button-container{
    padding: 0rem 1rem;
    /* border: 5px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.subject{
    background: rgba(0, 0, 0, 0.23);
    padding: 0.5rem 0.75rem;
    color: White;
    border: none;
    border-radius: 0.8rem;
    width: fit-content; 
    height: 100%; 
    text-align: center;
    font-size: 0.75 rem; 
    font-family: Oswald; 
    font-weight: 700; 
    letter-spacing: 0.51px;
    word-wrap: break-word; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.read{
    background: rgba(0, 0, 0, 0.23);
    color: white;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.8rem;
    width: fit-content; 
    height: 100%; 
    text-align: center;
    font-size: 0.75rem; 
    font-family: Oswald; 
    font-weight: 700; 
    letter-spacing: 0.51px; 
    word-wrap: break-word;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


