@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@400;600;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
    background-image:url("/images/main-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
  }
  
  .navbar{
    display: flex; 
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 3rem;
    padding-right: 3rem; 
    justify-content: space-between; 
    width: 100%; 
    /* background-color: #f1ebeb50;  */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);  
  }

  .logo{
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 800; 
    cursor: pointer;
    color: white; 

  }
  .logo:hover{
    cursor: pointer;
  }

  .close{
    display: none;
  }

  .page-links{
    /* border: 5px solid red; */
    display: none; 
    margin-left: 1.25rem; 
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700; 
  }

  .page-links > a{
    color: rgb(229, 224, 224);
    text-decoration: none;
    padding-left: 1rem;
  }

  .menu{
    display: none; 
    position: fixed; 
    right: 0; 
    top: 3.5rem; 
    z-index: 20; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    margin-top: 0.75rem; 
    margin-top: 0.875rem; 
    flex-direction: column; 
    max-height: fit-content; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    text-align: center; 
    color: #000000; 
    background-color: #ffffff;  
    width: 100%;

  }

  .menu > a{
    color: #000000; 
    padding-left: 0.625rem;
  }

  @media (min-width: 768px) { 
    .hamburger{
      display: none;
    } 
    .close{
      display: none;
    } 
    .page-links{
      display: block; 
    }
    .page-links > a:hover{
        cursor: pointer;
    }
    .menu{
      display: none; 
    }
    
   }
  


/* Study Buddy Interaction page */

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;  
    justify-content: center; 
    gap: 8rem; 
  }
  
  .flex-item-left {
    /* background-color: #f1f1f1; */
    padding: 10px;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.688);
    border-radius: 2rem;
  }
  
  .flex-item-right {
    /* background-color: dodgerblue; */
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.688);
    border-radius: 2rem;
  }

  .exit{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin-top: 30px;
    width: 10%;
  }
  
  .button{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    margin-top: 5rem;

  }
  
  button{
    width: 7rem;
    background-color: red;
    color: white;
    border: none;
    font-size: large;
    padding: 10px;
    border-radius: 7px;
  }

section{
  padding: 40px;
}

button:hover{
  background-color: green;
  color: white;
}
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

